@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-transform: capitalize;

    --text: #0c1810;
    --background: #ebf5ef;
    --primary: #44837a;
    /* --secondary: #ebf2f5; */
    --secondary: #8b99a1;
    --accent: #6495af;

}
/* :root[data-theme="dark"] { */
/*     --text: #f1f1ef; */
/*     --background: #0a0b09; */
/*     --primary: #4a5247; */
/*     --secondary: #28262c; */
/*     --accent: #938797; */
/* } */
/* :root[data-theme="dark"] { */
/*     --text: #efe1f9; */
/*     --background: #0b0311; */
/*     --primary: #6dcc28; */
/*     --secondary: #0c3c28; */
/*     --accent: #7dd83b; */
/* } */
/* :root[data-theme="light"] { */
/* --text: #00070a; */
/* --background: #ffffff; */
/* --primary: #dd4c03; */
/* --secondary: #e5f7ff; */
/* --accent: #fc671d; */
/* } */
/* :root[data-theme="dark"] { */
/*   --text: #f5fcff; */
/*   --background: #000000; */
/*   --primary: #fc6b22; */
/*   --secondary: #00121a; */
/*   --accent: #e24e03; */
/* } */
/* :root[data-theme="dark"] { */
/*   --text: #f0f4ef; */
/*   --background: #0d1821; */
/*   --primary: #344966; */
/*   --secondary: #b4cded; */
/*   --accent: #bfcc94; */
/* } */


body {
    background:var(--background);
    color:var(--text);
}

/*
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
